#description {
margin-left: 3%;
}
#tabstyle {
    margin-left: 3%
}
#nyt {
    color: #0a0a0a;
    display: block;
    margin-left: 4%;
    margin-top: 6%;
}
#cnn {
    margin-left: 6%;
    margin-top: 6%;
}

