
<img src="http://static.wixstatic.com/media/83e4c1_dd7ba368b26044c482aed62bf72a447d.gif" style="width:50%; height: 27%">

<div id = "tabstyle">
    <ul class="nav nav-pills">
        <li><a data-toggle="pill" href="#nyt" ng-click ="appear()">New York Times</a></li>
        <li><a data-toggle="pill" ng-click ="newsAppear()"href="#cnn">CNN</a></li>
    </ul>

    <div id ="nyt" ng-hide ='tb1Nyt' class ="tab-pane fade in active"  ng-repeat="data in dataNyt">

        <h4 class="panel-title" >
            <a href="{{data.url}}">
                <em>{{data.title}}</em>

            </a>
        </h4>

        <h6>
            {{data.abstract}}
        </h6>

    </div>
    </div>

<div>
    <div id ="cnn"  ng-hide = "tb2News" ng-repeat="info in dataNews">
            <h4 class="panel-title">
                <a href="{{info.url}}">
                   <em>{{info.title}}</em>
                </a>
            </h4>
            <h6>
                {{info.description}}
            </h6>

        <div collapse="isCollapsed">
            <div class="panel-body"> {{nytTitles}}
            </div>
        </div>
    </div>
</div>


</form>

</div>
