.gs-remove-handle {
  opacity: 0;
}

.gs-remove-handle-all {
  width: 20px;
  height: 20px;
  bottom: 8px;
  left: 8px;
  z-index: 20;
  position: absolute;
}

.grid-stack-item-content {
  background-color: white;
  transition: top .4s, left .4s;
}

.grid-stack-item {
  transition: top .4s, left .4s;
}

.ui-draggable-dragging {
  transition: top 0s, left 0s;
}

.grid-stack-placeholder {
  transition: top 0s, left 0s;
}