
.widget-wrapper ww-widget {
  list-style-type: none;
  background-color: white;
  margin: 8px;
}

.widget-wrapper p {
  margin: 8px;
}

.save-button, .load-button, .add {
  margin-top: 12px;
  margin-right: 0px;
  padding-right: 6px;
  padding-left: 6px;
  float: right;
  text-decoration: none;
}

.edit-button {
  margin-top: 12px;
  margin-right: 0px;
  padding-right: 6px;
  padding-left: 6px;
  float: right;
  text-decoration: none;
}

.header-container {
  float: left;
}

.meta {
  margin-right: 16px;
}

.header-title {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}

.grid-stack-item, .grid-stack-item-content {
  padding: 0px;
}

.grid-stack-item-content {
  border-radius: 5px;
}

.bookmarks-bar li {
  display:inline;
  padding: 17px;
}

.bookmarks-bar {
  margin-top: -42px;
  margin-left: 200px;
}
.dropdown-menu {
  left: 80%;
}

.remove {
  background: none;
  float: right;
  font-size: 17px;
}
.remove:hover {
  color: salmon;
}

.removestash {
  padding-top: 0px;
  padding-right: 0px;
}