<div ng-controller="stashWidgetController" class="stash-widget-wrapper">{{something}}
  <div class="stash-widget-header">
    <h1 class="stash-widget-title"><span ng-repeat="t in pageStack | limitTo: (pageStack.length-1)"><a ng-click="showPageByName(pageStackInternal[$index])" href="#" class="white-link">{{ t }}</a> <i style="margin-left: 3px; margin-right: 3px;" class="fa fa-caret-right" aria-hidden="true"></i>
 </span><span><a ng-click="showPageByName(pageStackInternal[pageStackInternal.length-1])" href="#" class="white-link">{{pageStack[pageStack.length-1]}}</a></span></h1><button ng-if="page != 'login'" ng-click="showLogout()" type="button" class="btn btn-secondary-outline stash-widget-logout-button">Log out</button>
    <div ng-controller="headerController"><button class="btn remove removestash" ng-click="removeWidget('StashWidget')">x</button></div>
  </div>
  <div class="stash-widget-content">
    <div ng-switch on="page">
      <div ng-switch-when="login">
        <div>
          <label class="stash-widget-label">Username</label><input class="form-control" ng-model="username" type="text" />
          <label class="stash-widget-label">Password</label><input class="form-control" ng-model="password" type="password" />
          Remember login information? <input class="stash-widget-remember" type="checkbox" ng-model="saveLoginInformation.value"><br>
          <button id="stash-widget-submit-login" class="stash-widget-submit btn btn-primary" ng-click="showLogin(username, password)">Submit</button>
        </div>
      </div>
      <div ng-switch-when="browser-select">
        <div class="list-group">
          <button type="button" ng-click="showManualBrowser()" class="list-group-item">Manual Repository Selector</button>
          <button type="button" ng-click="showRecentBrowser()" class="list-group-item">Recent Repositories</button>
        </div>
      </div>
      <div ng-switch-when="manual-browser">
        <div>
          <label class="stash-widget-label">Type</label><input class="form-control" ng-model="stashRepoType" type="text" />
          <label class="stash-widget-label">Name</label><input class="form-control" ng-model="stashRepoName" type="text" />
          <label class="stash-widget-label">Repo</label><input class="form-control" ng-model="stashRepoRepo" type="text" />
          <button id="stash-widget-submit-manual" class="stash-widget-submit btn btn-primary" ng-click="showPullRequestsManual(stashRepoType, stashRepoName, stashRepoRepo)">Submit</button></br>
        </div>
      </div>
      <div ng-switch-when="search-browser">
        
      </div>
      <div ng-switch-when="recent-browser">
        <span class="stash-widget-pr-list-header">Name</span><hr class="stash-widget-repo-header-hr">
        <div ng-if="isShowingRecentRepositories">
          <div class="stash-widget-repo-element" ng-repeat="el in recentRepositoriesJson">
            <span class="stash-widget-repo-element-content">{{ el.project.name }} / <a ng-click="showPullRequestsRecentObject(el)" href="#">{{ el.name }}</a></span><hr class="stash-widget-repo-hr">
          </div>
        </div>
      </div>
      <div ng-switch-when="pull-requests">
        <ul class="list-group col-xs-12">
          <li class="list-group-item" ng-repeat="el in pullRequestsJson">
            <div class="stash-widget-list-element">
              <a class="stash-widget-repo-name" href="{{ el.links.self[0].href }}">{{ el.title }}</a>
              <span style="margin-left: 8px; margin-right: 8px;" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              <code>{{ el.toRef.displayId }}</code>
              <br class="stash-widget-marginless">
              <span class="stash-widget-last-updated"><a href="{{ el.author.user.links.self[0].href }}">{{ el.author.user.displayName }}</a>; last updated {{ lastUpdatedString(el.updatedDate) }}.</span>
              <span ng-if="el.reviewers.length != 0" class="label label-default label-pill pull-right"><center style="margin-top: 2px;">{{ el.reviewers.length }}</center></span>
            </div>
          </li>
        </ul>
      </div>
      <div ng-switch-default>
        The `{{something}}` page is not implemented
      </div>
    </div>
  </div>
</div>