<div ng-controller="stashWidgetController" class="stash-widget-wrapper">
  <div class="stash-widget-header">
    <h1 class="stash-widget-title">Open Pull Requests</h1><button ng-click="logout()" type="button" class="btn btn-secondary-outline stash-widget-logout-button">Log out</button>
  </div>
  <div class="stash-widget-content">
    <div ng-if="isLoggedIn">
      <div ng-if="isShowingPullRequests">
        <ul class="list-group col-xs-12">
          <li class="list-group-item" ng-repeat="el in pullRequestsJson">
            <div class="stash-widget-list-element">
              <a class="stash-widget-repo-name" href="{{ el.links.self[0].href }}">{{ el.title }}</a>
              <span style="margin-left: 8px; margin-right: 8px;" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              <code>{{ el.toRef.displayId }}</code>
              <br class="stash-widget-marginless">
              <span class="stash-widget-last-updated"><a href="{{ el.author.user.links.self[0].href }}">{{ el.author.user.displayName }}</a>; last updated {{ lastUpdatedString(el.updatedDate) }}.</span>
              <span ng-if="el.reviewers.length != 0" class="label label-default label-pill pull-right"><center style="margin-top: 2px;">{{ el.reviewers.length }}</center></span>
            </div>
          </li>
        </ul>
      </div>
      <div ng-if="!isShowingPullRequests">
        <div>
          <label class="stash-widget-label">Type</label><input class="form-control" ng-model="stashRepoType" type="text" />
          <label class="stash-widget-label">Name</label><input class="form-control" ng-model="stashRepoName" type="text" />
          <label class="stash-widget-label">Repo</label><input class="form-control" ng-model="stashRepoRepo" type="text" />
          <button id="stash-widget-submit-pr" class="stash-widget-submit btn btn-primary" ng-click="updatePullRequestsJson(stashRepoType, stashRepoName, stashRepoRepo)">Submit</button></br>
        </div>
      </div>
    </div>
    <div ng-if="!isLoggedIn">
      <div>
        <label class="stash-widget-label">Username</label><input class="form-control" ng-model="username" type="text" />
        <label class="stash-widget-label">Password</label><input class="form-control" ng-model="password" type="password" />
        Remember login information? <input class="stash-widget-remember" type="checkbox" ng-model="saveLoginInformation.value"><br>
        <button id="stash-widget-submit-login" class="stash-widget-submit btn btn-primary" ng-click="login(username, password)">Submit</button>
      </div>
    </div>
  </div>
</div>
