.stash-widget-wrapper {
  padding: 8px;
}

.stash-widget-label {
  margin-top: 16px;
}

.stash-widget-submit {
  margin-top: 16px;
}

.stash-widget-list-element {
  width: 100%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.stash-widget-repo-name {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.stash-widget-marginless {
  padding: 0px;
  margin: 0px;
}

.stash-widget-last-updated {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 10px;
}