.stash-widget-wrapper {
  padding: 0px;
  background-color: #6677aa;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stash-widget-content {
  padding: 12px;
  margin: 1px;
  background-color: white;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}

.stash-widget-label, .stash-widget-submit, .stash-widget-remember {
  margin-top: 16px;
}

.stash-widget-list-element {
  width: 100%;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.stash-widget-repo-name {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.stash-widget-marginless {
  padding: 0px;
  margin: 0px;
}

.fa-refresh-animate {
    -animation: spin 1.0s infinite linear;
    -webkit-animation: spin2 1.0s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.stash-widget-last-updated {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 10px;
}

.stash-widget-logout-button {
  float: right;
  margin-top: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ffffff00;
  color: white;
}
 
.stash-widget-logout-button:hover, .stash-widget-logout-button:focus, .stash-widget-logout-button:active, .stash-widget-logout-button.active, .open > .dropdown-toggle.stash-widget-logout-button {
  background: #ffffff;
  color: #6677aa;
}

.stash-widget-header {
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  height: 46px;
}

.stash-widget-title {
  margin: 0px;
  margin-top: 8px;
  font-size: 16px;
  color: white;
  float: left;
}