<style>
	<link rel= "stylesheet" type="text/css" href="weather-widget.css">
</style>
<center> 
<script src="widgets/weather-widget/weather-widget.js"></script> 

<form id="forecast">
	<h1>Weather</h1>
		<input type="text" ng-model="zip" id="weather-search"  placeholder="What zip code?" />
			<button id="button1" class="btn btn-small btn-primary"  ng-keypress="keypressDown($event)" ng-click="find()"> Enter </button>
			<p><i class="fa fa-globe"></i>   Weather in: {{ place }}</p>
			<p>It is currently {{ temperature }} °F and {{ description }}</p>
			<p><i class="fa fa-flag-o"></i>  Wind: {{ windspeed }}</p>
</center>

</form>
<!-- onclick="" -->