<!DOCTYPE html>
<html ng-app="warRoom">
<head>
  <meta charset="UTF-8">
  <!-- DEPENDENCIES -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap2-toggle.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

  <!-- CUSTOM -->
  <link rel="stylesheet" type="text/css" href="css/backend.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- DEPENDENCIES -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <!--<script src="bower_components/tether/dist/js/tether.min.js"></script>-->
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrap-toggle/js/bootstrap2-toggle.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/gridstack/dist/gridstack.js"></script>

  <!-- CUSTOM -->
  <script src="warroom-util.js"></script>
  <script src="module.js"></script>
  <script src="config.js"></script>
  <script src="components/widget-ctrl.js"></script>
  <script src="services/widget-service.js"></script>
  <script src="directives/widgets.js"></script>
  <script src="controllers/header-controller.js"></script>
  <script src="controllers/remove-controller.js"></script>

  <!-- DYNAMIC DEPENDENCIES -->
</head>

<body>
<div class="main" ng-controller="headerController">
  <div id="content-wrapper">
    <div class="page-content">
      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="meta">
            <div class="header-container">
              <div class="page">
                <h1 class="header-title">War Room</h1>
                <ul class="bookmarks-bar">
                  <li ng-repeat="bookmark in bookmarks"><a href="{{ bookmark.url }}">{{ bookmark.name }}</a>
                    <button ng-show="displayLinkForm" id="bookmark-x-button" ng-click="removeBookmark(bookmark.name)">x</button>
                  </li>
                  <li>
                    <button class="btn btn-primary" ng-click="addBookmark()">Edit Links</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="edit-button" ng-click="toggleEnable()">
            <input type="checkbox" data-height="38" data-width="150" data-toggle="toggle" data-on="Stop Editing" data-off="Start Editing" data-onstyle="danger" data-offstyle="success">
          </div>
          <div class="load-button">
            <button ng-click="loadWidgets()" class="btn btn-primary">Load</button>
          </div>
          <div class="save-button">
            <button ng-click="saveWidgets()" class="btn btn-success">Save</button>
          </div>
          <div class="d" id="tabt" name="tab">
            <button class="btn add btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="toggleEnableAdd">Add
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="widget in widgetList" id="tabby"><a href="#" value="1" ng-click="addWidget(widget.name)">{{ widget.displayName }}</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="link-new" class="alert alert-success fade in" ng-show="displayLinkForm">
    <center>
      <form class="link-create-form" name="link-create-form" ng-submit="finishForm()">
        <input id="linkNameField" class="form-control" type="text" ng-model="bookmarkName" placeholder="Bookmark Label..." required>
        <input id="linkUrlField" class="form-control" type="text" ng-model="bookmarkUrl" placeholder="Bookmark URL..." required>
        <input id="linkSubmit" class="btn btn-primary" type="submit" value="Submit" ng-disabled="link-create-form.$invalid">
      </form>
    </center>
  </div>
</div>
<!-- End Header Bar -->
<!-- Main Content -->
<ww-widgets class="widget-wrapper"></ww-widgets>
</div>
<!-- End Page Content -->
</div>
<!-- End Content Wrapper -->
</div>
</body>
</html>