<!DOCTYPE html>
<html ng-app="warRoom">
<head>
  <!-- DEPENDENCIES -->
  <!--<link rel="stylesheet" href="bower_components/tether/dist/css/tether.min.css">
  <link rel="stylesheet" href="bower_components/tether/dist/css/tether-theme-basic.min.css">-->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap2-toggle.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  
  <!-- CUSTOM -->
  <link rel="stylesheet" type="text/css" href="css/backend.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <!-- DEPENDENCIES -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <!--<script src="bower_components/tether/dist/js/tether.min.js"></script>-->
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/gridstack/dist/gridstack.js"></script>
  
  <!-- CUSTOM -->
  <script src="warroom-util.js"></script>
  <script src="module.js"></script>
  <script src="config.js"></script>
  <script src="components/widget-ctrl.js"></script>
  <script src="services/widget-service.js"></script>
  <script src="directives/widgets.js"></script>
  <script src="controllers/header-controller.js"></script>
  
  <!-- DYNAMIC DEPENDENCIES -->
</head>
<body>
  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header" ng-controller="headerController">
        <div class="col-xs-12">
          <div class="meta">
            <div class="header-container">
              <div class="page">
                <h1 class="header-title">War Room</h1>
              </div>
            </div>
            <div class="edit-button" ng-click="toggleEnable()"><input type="checkbox" data-height="38" data-width="150" data-toggle="toggle" data-on="Stop Editing" data-off="Start Editing" data-onstyle="danger" data-offstyle="success"></div>
            <div class="load-button"><button ng-click="loadWidgets()" class="btn btn-primary">Load</button></div>
            <div class="save-button"><button ng-click="saveWidgets()" class="btn btn-success">Save</button></div>
          </div>
        </div>
      </div>
      <!-- End Header Bar -->

      <!-- Main Content -->
      <ww-widgets class="widget-wrapper"></ww-widgets>
      
    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</body>
</html>