<div class="tab-content">
    <div ng-repeat="index in [0,1,2,3,4]" id="city{{index}}" class="tab-pane fade">
        <h1 class="time">{{ timeArr[index] }}</h1>
    </div>
</div>


<div class="container" id="time-container">
    <nav id="navbar" class="navbar navbar-light">
        <ul class="nav nav-pills nav-stacked">
            <li><a  href="#add" data-toggle="pill"><h4>Time Widget</h4>
                <form display="inline-block" autocomplete="off" class="form-inline pull-xs-right">
                    <input class="form-control" type="text" placeholder="Add City..." id="term" ng-model="tw.cityInput">
                    <button class="btn btn-success-outline" type="submit" id="search" ng-click="pressEnter()">Enter</button>
                </form>
            </a></li>
            <div id="alert"></div>
            <div class="tab-content">
                <div id="add" class="tab-pane fade in active">
                    <ul id="time-display">
                        <div id="predictions" ng-repeat="predictions in cityArr">
                            <a id="results" ng-click="placeClick(predictions.description, predictions.place_id)"> {{ predictions.description }}</a>
                        </div>
                    </ul>

                </div>

            </div>
            <li ng-repeat="n in [0,1,2,3,4]"><a ng-hide="tf[n]" data-toggle="pill" href="#city{{n}}">{{tabNames[n]}} <i ng-hide="tf[n]" ng-click="deleteTab(tabNames[n])" class="fa fa-times-circle" aria-hidden="true"></i></a></li
        </ul>
    </nav>
</div>