#time-container{
    width: 95%;
}

#time-display{
    list-style-type:none;
    cursor: pointer;
}

.time{
    text-align: center;
}

#navbar{
    background-color: #e3f2fd;
    text-align:left;
}

#predictions{
    background-color: white;
    display:table-row;

}
#predictions:hover {
    background-color: rgba(160, 154, 161, 0.76);
}

#results{
    color: black;
    text-align: center;
}
#add {
    background-color: white;
}
